
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" class="form-group">
    <div>
        <label>
            Kulüp Adı
        </label>
        <input type="text" class="form-control" name="KULUPAD" />
        <label>
            Kulüp Kontenjan
        </label>
        <input type="text" class="form-control" name="KULUPKONTENJAN" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">
            Kulüp Ekle
        </button>
    </div>
</form>