
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesap Makinesi</h2>

<br />

<form class="form-group" method="post">
    <div>
        Sayı 1 :<input type="text" name="sayi1" id="sayi1" />
        <br /><br />
        Sayı 2 :<input type="text" name="sayi2" id="sayi2" />
        <br /><br />
        <button class=" btn btn-warning">Hesapla</button>
        <br /><br />
        Sonuc:@ViewBag.snc
    </div>
</form>