@using OgrenciNotMvc.Models.EntityFramework 
@model List<TBLDERSLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>DERS ID</th>
        <th>DERS ADI</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach (var drs in Model)
        {
            <tr>
                <td>@drs.DERSID</td>

                <td>@drs.DERSAD</td>

                <td>
                    <a href="/Default/Sil/@drs.DERSID" class="btn btn-danger">Sil</a>

                    <a href="/Default/Guncelle/@drs.DERSID" class="btn btn-primary">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Default/YeniDers" class="btn btn-success">Yeni Ders Ekleme</a>